a {
    color:#000;
    text-decoration:none;
}

a:hover {
    text-decoration: underline;
}

input:focus, textarea {
    outline: none !important;
}

html, button, input, select, textarea {
    color: #222;
}

main {
    display: block;
    margin: auto;
    margin-top: 150px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.topNav {
    margin-top: 1%;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 14px;
    color: #000000;
    margin: 1%;
}

.topNavRight {
    float: right;
}

#searchbox:hover {
    box-shadow: 0px 2px 3px 2px rgb(218, 218, 218);
}

.google {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
}

form {
    display: block;
    width: 50%;
    margin-left: 25%;

}

#searchBox {
    background-color: transparent;
    border-radius: 25px;
    border: 1px darkgrey solid;
    width: 100%;
    padding-left: 5%;
    height: 40px;
    display: inline-flex;
    margin: 30px 0px;
    display: flex;
    flex: 1; no-repeat scroll 10px 6px;
    background-size: 30px;
    box-sizing: content-box;
}

.bottomNav {
    background-color: #f2f2f2;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    height: 55px;
    position: absolute;
}

.centerText {
    float: center;
    margin-left: 30%;
}

.rightSide {
    float: right;
    margin-right:30px;
}

.bottomNav a {
    margin: 20px 10px;
    font-size: 14px;
    color: #5f6368;
}

.button {
    overflow: visible;
    width: auto;
    line-height: 25px;
    background-color: #f4f4f4;
    padding: 7px 15px;
    border-radius: 4px;
    font-size: 14px;
    color: #646368;
    text-align: center;
    border: none;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    border: 1px darkgray solid;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    list-style: none;
  }

li {
    float: left;
}

li a {
    display: block;
    margin: 8px;
    font-family: sans-serif;
}
